	    *{
		 margin:0; 
		}
		@media (max-width: 767px){
          .header_nav li{
            display: none;
          }
          .left_bar{
            display: none;
          }
          .blog_container{
            width:100%;
            margin-top: 70px;
          }
    }
        
    @media (min-width: 768px){
          .blog_container{
            width:80%;
            margin-top: 70px;
          }
          .sm_menu{
            display: none;
          }
    }
		.header_nav {
          width: 100%;
          height: 70px;
          background-color: #fa8500;
          box-shadow: 5px 5px 5px 10px rgba(0,0,0,0.2);
          box-sizing: border-box;
          top: 0;
          z-index: 10000;
          position: fixed;
        }
        .header_nav ul{
          display: flex;
        }
        .header_nav li {
          list-style: none;
          
        }
        .header_nav a {
            margin-top: 20px;
            display: block;
            text-decoration: none;
            color: #ffffff;
            margin-right: 35px;
        }
        .container{
          width: 100%;
          display: flex;
        }
        .left_bar{
          padding-top: 100px;
          width:20%;
          height: auto;
          background-color: #464646;
        }
        
        .label {
          margin-top: 20px;
          margin-left: 1vw;
  			  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  			  color: #494949;/*文字色*/
  			  background: #f4f4f4;/*背景色*/
  			  border-left: solid 5px #fa8500;/*左線*/
  			  border-bottom: solid 3px #d7d7d7;/*下線*/
	  		}
	  	  .login_button{
        	  text-decoration: none;
            margin: 30px auto;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: #fa8500;
            font-size: 10px;
            width: 80%;
            height: 30px;
            border-radius: 3px;
            box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.4);
        }
         .join_button{
          margin:20px 0;
        	width: 95%;
        	text-decoration: none;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          color: white;
          background-color: #f05340;
          font-size: 15px;
          height: 50px;
          border-radius: 3px;
          border:none; 
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.4);
        }
        
        .input_form{
            border: 1px solid #ddd;
            border-radius: 6px;
            padding-left: 1em;
            padding-right: 1em;
            height: 48px;
            width: 60%;
            background: #eaedf2;
            font-size: 18px;
          }
        
      .blog_container textarea{
          border: 1px solid #ddd;
          border-radius: 6px;
          padding-left: 1em;
          padding-right: 1em;
          height: 180px;
          flex: 1;
          width: 90%;
          background: #eaedf2;
          font-size: 20px;
        }
        
      .blog_container h3{
        margin-top: 10px;
        margin-bottom: 10px;
      }
        
       
       